<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	{% block title %}{% endblock %}
	{% load static %}
	<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
</head>
<body bgcolor="#ffffff">
	<div id="warp">
	  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
		<tr>
		  <td height="180" background="{% static "images/g_r1_c3.png" %}">&nbsp;</td>
		</tr>
		<tr>
		  <td background="{% static "images/g_r3_c3.png" %}">
			  <div class="functionDiv">
				<table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
				  <tr>
					<td align="right">
						 <img src="{% static "images/door_out.png" %}" width="16" height="16" align="absmiddle" /> <a href="/logout/">登出管理</a></td>
					</td>
				  </tr>
				</table>
				<img src="{% static "images/g_r9_c3.png" %}" width="600" height="20" border="0" />
			  </div>
			  {% block content %}{% endblock %}
				<div id="siteinfo"> 留言版&nbsp;個人所有 &copy; 2024&nbsp; GuestBook Personally owned. </div></td>
			</tr>
	  </table>
	</div>
</body>
</html>
