{% extends "baseadmin.html" %}
{% load static %}

{% block title %}<title>網站留言版-刪除留言</title>{% endblock %}

{% block content %}
  <form action="/delete/{{unit.id}}/del/" id="form1" name="form1" method="post">
    {% csrf_token %}
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" background="{% static "images/g_r5_c4.png" %}">
      <tr>
        <td valign="top" style="background:url"({% static "images/g_r4_c4.png" %}); background-repeat:no-repeat">
          <div class="floorDiv"> 
            {% if unit.bgender == "m" %}
              <img src="{% static "images/boy.png" %}" width="72" height="63" />
            {% endif %}
            {% if unit.bgender == "f" %}
              <img src="{% static "images/girl.png" %}" width="72" height="63" />
            {% endif %}
          </div>
          <div class="contentDiv">
            <p class="title">{{unit.bsubject}}</p>
            <p></p>
            <p>{{unit.bcontent}}</p>
            <div class="responseDiv">
              <p><strong>版主回應</strong>：{{unit.bresponse}}</p>
            </div>
            <p class="editor"><img src="{% static "images/user.png" %}" width="16" height="16" align="absmiddle" />{{unit.bname}}&nbsp; 
              <img src="{% static "images/date.png" %}" width="16" height="16" align="absmiddle" />{{unit.btime}}&nbsp; 
              <a href="mailto:{{unit.bmail}}">
                <img src="{% static "images/email.png" %}" width="16" height="16" border="0" align="absmiddle" /></a>&nbsp; 
              <a href="{{unit.bweb}}">
                <img src="{% static "images/world.png" %}" width="16" height="16" border="0" align="absmiddle" /></a>&nbsp;
            </p>
            <div class="messageDiv">
              <img src="{% static "images/cancel.png" %}" width="16" height="16" align="absmiddle" /> 是否確定刪除這筆留言？
            </div>
            <p align="center">
              <input type="submit" name="button" id="button" value="確定刪除" />
              <input type="button" name="button2" id="button2" value="回上一頁" onclick="window.history.back();" />
            </p>
          </div>
        </td>
      </tr>
    </table>
  </form>
  <img src="{% static "images/g_r9_c3.png" %}" width="600" height="20" border="0" />
{% endblock %}
