{% extends "base.html" %}
{% load static %}

{% block title %}<title>網站留言版</title>{% endblock %}

{% block twomenu %}
	<img src="{% static "images/comment.png" %}" width="16" height="16" align="absmiddle" /> <a href="/post/">我要留言</a> 
	<img src="{% static "images/key.png" %}" width="16" height="16" align="absmiddle" /> <a href="/login/">版主管理</a>
{% endblock %}

{% block content %}
	 </td>
  </tr>
  {% for unit in boardunits %}
	<tr>
	  <td background="{% static "images/g_r3_c3.png" %}">
		  <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" background="{% static "images/g_r5_c4.png" %}"
			<tr>
			  <td valign="top" style="background:url"({% static "images/g_r4_c4.png" %}); background-repeat:no-repeat">
				<div class="floorDiv">
					{% if unit.bgender == "m" %}
						<img src="{% static "images/boy.png" %}" width="52" height="80" />
					{% else %}
						<img src="{% static "images/girl.png" %}" width="52" height="80" />
					{% endif %}
				</div>
				<div class="contentDiv">
				  <p class="title">{{unit.bsubject}}</p>
				  <p></p>
				  <p>{{unit.bcontent}}</p>
				  {% if unit.bresponse != "" %}
					<div class="responseDiv">
					  <p><strong>版主回應</strong>：{{unit.bresponse}}</p>
					</div>
				  {% endif %}
				  <p class="editor"><img src="{% static "images/user.png" %}" width="16" height="16" align="absmiddle">{{unit.bname}}&nbsp; 
					<img src="{% static "images/date.png" %}" width="16" height="16" align="absmiddle">{{unit.btime}}&nbsp;
					{% if unit.bmail != "" %}
					  <a href="mailto:{{unit.bmail}}" target="_blank">
					  <img src="{% static "images/email.png" %}" width="16" height="16" border="0" align="absmiddle"></a>
					{% endif %}
					&nbsp;
					{% if unit.bweb != "" %}
					  <a href="{{unit.bweb}}" target="_blank">
					  <img src="{% static "images/world.png" %}" width="16" height="16" border="0" align="absmiddle"></a>
					{% endif %}
				  </p>
				</div>
			  </td>
			</tr>
			<tr>
			  <td><img name="g_r7_c4" src="{% static "images/g_r7_c4.png" %}" width="600" height="12" border="0" alt=""></td>
			</tr>
		  </table>
		  <span class="functionDiv">
			  <img src="{% static "images/g_r9_c3.png" %}" width="600" height="20" border="0" />
		  </span>
	</tr>
  {% empty %}
	<tr>
	  <td background="{% static "images/g_r3_c3.png" %}">
		  <div class="messageDiv"><img src="{% static "images/exclamation.png" %}" width="16" height="16" align="absmiddle"> 目前沒有新的資料，歡迎您留言。</div></td>
	</tr>
  {% endfor %}
	  <tr>
		<td background="{% static "images/g_r3_c3.png" %}">
		  <div class="pagebutton">
		  {% if currentpage > 1 %}
			   <a href="/index/prev/" title="上一頁">
			  <img src="{% static "images/prevpage.png" %}" alt="上一頁" width="64" height="24" /></a>
		  {% endif %}
		  {% if currentpage < totpage %}
			  <a href="/index/next/" title="下一頁">
			  <img src="{% static "images/nextpage.png" %}" alt="下一頁" width="64" height="24" /></a>
		  {% endif %}
		  </div>
		</td>
	  </tr>
	  <tr>
		<td background="{% static "images/g_r3_c3.png" %}">
{% endblock %}
